[submodule "themes/personalWeb"]
	path = themes/personalWeb
	url = https://github.com/bjacquemet/personal-web.git
[submodule "themes/paperMod"]
	path = themes/paperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
