{{ define "content" }}
<section id="main" class="content-container look-sheet article-pad-v">
    <h1 id="title" style="margin-bottom: 0.75em">{{.Title}}</h1>
    <ul id="list" class="list-unstyled list-of-titles">
        {{ range ( where .Site.RegularPages "Type" "posts" | first 5 ).ByDate.Reverse }}
        <li >
            <a href="{{ .RelPermalink }}">
            <span class="post-title{{ if .Draft }}-draft{{ end }}">{{ partial "title" . }}</span>
            </a>
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}
